@import "tailwindcss";

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

html body[data-scroll-locked] {
  --removed-body-scroll-bar-size: 0 !important;
  margin-right: 0 !important;
}

/* Handle on hover */
/* biome-ignore lint/nursery/noUnknownPseudoClass: <explanation> */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

html {
  height: 100%;
  width: 100%;
  overflow: auto;
  scroll-behavior: smooth !important;
  font-size: var(--text-md);
}

#content {
  scroll-behavior: smooth !important;
  scrollbar-gutter: stable;
}

html.wf-loading {
  >* {
    display: none;
  }
}

a.regular-link {
  color: var(--color-blue-600);

  &:visited {
    color: var(--color-blue-900);
  }

  &:hover {
    color: var(--color-blue-800);
  }
}

body {
  background: #ffffff;
}

.gradient1-background {
  --degrees: 90deg;
  --outer: hsla(0, 0%, 100%, 1);
  --inner: rgb(252, 241, 224);
  background: var(--outer);
  /* biome-ignore lint/nursery/noDuplicateProperties: <explanation> */
  background: linear-gradient(var(--degrees), var(--outer) 0%, var(--inner) 50%, var(--outer) 98%);
  background: -moz-linear-gradient(var(--degrees), var(--outer) 0%, var(--inner) 50%, var(--outer) 98%);
  background: -webkit-linear-gradient(var(--degrees), var(--outer) 0%, var(--inner) 50%, var(--outer) 98%);
}

.gradient2-background {
  --degrees: 125deg;
  --outer: hsla(0, 0%, 100%, 1);
  --inner: rgb(253, 242, 216);
  background: var(--outer);
  /* biome-ignore lint/nursery/noDuplicateProperties: <explanation> */
  background: linear-gradient(var(--degrees), var(--inner) 24%, var(--outer) 79%);
  background: -moz-linear-gradient(var(--degrees), var(--inner) 24%, var(--outer) 79%);
  background: -webkit-linear-gradient(var(--degrees), var(--inner) 24%, var(--outer) 79%);
}


.lined-background {
  --rgb: 255 255 255;
  --opacity: 0.06;
  --size: 10px 10px;
  --degrees: 45deg;

  background-color: rgb(194, 194, 194);
  background-image:
    linear-gradient(var(--degrees), rgb(var(--rgb) / var(--opacity)) 25%, transparent 25%, transparent 50%, rgb(var(--rgb) / var(--opacity)) 50%, rgb(var(--rgb) / var(--opacity)) 75%, transparent 75%, transparent 100%);
  background-size: var(--size);
}